/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.indigo.darken-5 {
  background-color: rgb(23,55,94);
}

.application-header {
    background-color: rgb(23, 55, 94);
    color: #ffffff;
}

.application-footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}
