<div class="container-fluid text-center divider-image">
    <!--DIVIDER IMAGE-->
    <div class="row align-items-end divider-row3">
        <div class="col tour-start">
            <img class="img-fluid" src="./images/general/pretties_2.png" alt="">
        </div>
    </div>
</div>

<div class="container mb-sm-5 mt-5 py-5">
    <div class="row justify-content-center mt-sm-5 mt-3 pt-sm-5 pt-4">
        <div class="col-lg-8 text-center">
            <h2>Take a Tour of our other app features.</h2>
        </div>
    </div>
    <div class="row mb-12 py-5 pb-sm-12 text-center container-fluid ">
        <div class="col-3">
            <div class="card py-5 container-fluid d-flex h-100 flex-column">
                <img class="card-image tour-img-top" src=" ./images/general/icon-Threat_Dashboard.png">
                <h5>Threat Reporting</h5>
                <div class="card-text">
                    <p>
                        This is the text about threat reporting
                    </p>
                    <a href="threat.html">GO -></a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card py-5 container-fluid d-flex h-100 flex-column">
                <img class="card-image tour-img-top" src=" ./images/general/icon-Analytic_Hub.png">
                <h5>Analytic Exchange</h5>
                <div class="card-text">
                    <p>
                        This is the text about threat reporting
                    </p>
                    <a href="analytic.html">GO -></a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card py-5 container-fluid d-flex h-100 flex-column">
                <img class="card-image tour-img-top" src=" ./images/general/icon-Assessments.png">
                <h5>Capability Assessments</h5>
                <div class="card-text">
                    <p>
                        This is the text about threat reporting
                    </p>
                    <a href="assessment.html">GO -></a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card py-5 container-fluid d-flex h-100 flex-column">
                <img class="card-image tour-img-top" src=" ./images/general/icon-Int_Set_Dashboard.png">
                <h5>Intrusion Set Dashboard</h5>
                <div class="card-text">
                    <p>
                        This is the text about threat reporting
                    </p>
                    <a href="intrusion.html">GO -></a>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container-fluid bg-lt-blue py-5">
    <!--DARK CALLOUT-->
    <div class="container">
        <div class="row align-items-top py-sm-3">
            <div class="col-lg-6 text-primary py-5 px-3">
                <h3 class="py-sm-5">Join the Experiment. Developers and Security Professionals Welcome.</h3>
                <p>Unfetter is open source and looking for partners. If you have
                    an idea for new functionality or a new workflow, let us know
                    and submit an issue in <a href="https://github.com/unfetter-discover/unfetter">GitHub</a>.
                    If you are a developer and
                    have ideas on how to contribute, we welcome a pull request. We’re excited for
                    everyone to

                    join the experiment.</p>
                <a name="" id="" class="btn btn-primary" href="https://github.com/unfetter-discover/unfetter" role="button">DOWNLOAD
                    UNFETTER</a>
            </div>
            <div class="col-lg-6 text-primary py-5 px-3">
                <h3 class="py-sm-5 text-black">Partner with Parsons for a more secure future.</h3>

                <p> Parson's corporation has been helping build Unfetter Discover into the product it is today. If you
                    are you looking for a partner, please contact them.
                </p>

                <a name="" id="" class="btn btn-primary" href="mailto:beawesome@parsons.com?Subject=Unfetter" target="top">CONTACT
                    PARSONS</a>

            </div>
        </div>
    </div>
</div>