<div class="container-fluid pt-5 mr-0 pr-0 pl-5">
    <!--Intro Block-->
    <div class="row container-fluid detail-icon ">
        <div class="col-sm-1 detail-icon "></div>
        <div class="col-sm-5 detail-icon ">
            <img src="./images/{{ page.directory }}/users.png">
            <h4>{{ page.callout-title }}</h4>
            <p>
                {{ page.callout-text }}
            </p>
        </div>
        <div class="col-sm-6 detail-icon intro-img ">
            <img class="img-fluid float-bottom float-right " src="./images/{{ page.directory }}/cropped/callout.png">
        </div>
    </div>

</div>