<div class="container-fluid detail-icon my-lg-5 pb-5 py-lg-5">
    <!--INTRO/HEADER-->
    <div class="row justify-content-center">
        <div class="col-lg-2 col-sm-1"></div>
        <div class="col-lg-8 col-sm-10 text-center">
            <h1 class="hero">{{ page.title }}</h1>
            <p class="lead">{{ page.tagline }}</p>
        </div>
        <div class="col-lg-2 col-sm-1"></div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-2 col-sm-1"></div>

        <div class="col-lg-8 col-sm-10 text-center pt-sm-5">
            <p class="lead">{{ page.intro-paragraph }}</p>
        </div>
        <div class="col-lg-2 col-sm-1"></div>
    </div>
</div>
</div><!-- /.container -->