<nav class="navbar navbar-dark bg-blue fixed-top">
        <a class="navbar-brand" href="./index.html"><img src="images/uf_icon.svg" alt="Unfetter" width="50px" height="50px"></a>
  
        <ul class="navbar-nav d-none d-sm-block ml-auto px-5">
          <li class="nav-item active">
            <a class="nav-link " href="./index.html">UNFETTER <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#unfetterNavbar">
          <span> </span>
          <span> </span>
          <span> </span>
        </button>
  
        <div class="collapse navbar-collapse" id="unfetterNavbar">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col text-center">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="analytics-overview.html">Analytic Overview</a>
                  </li>
                  <li>
                    <div class="sub-nav">
                      <a class="nav-link" href="https://github.com/unfetter-analytic/unfetter">GitHub</a>
                      <a class="nav-link" href="analytics-overview.html">Architecture</a>
                      <a class="nav-link" href="analytics-overview.html">Setup</a>
                      <a class="nav-link" href="analytics-overview.html">Generate Events</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="discover-overview.html">Discover Overview </a>
                  </li>
                  <li>
                    <div class="sub-nav">
                      <a class="nav-link" href="discover-overview.html">User Guide </a>
                      <a class="nav-link" href="discover-overview">Installation</a>
                      <a class="nav-link" href="https://www.github.com/unfetter-discover/unfetter/wiki">Developer Instructions</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  href="https://mitre.github.io/unfetter">Unfetter at MITRE</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="stix.html">Using STIX 2.0</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>