
<h2>WELCOME</h2>
<p>Unfetter Analytic s a reference implementation, inspired by The MITRE Corporation
<a href="https://car.mitre.org" target="_blank">CAR</a> and <a href="https://attack.mitre.org" target="_blank">ATT&amp;CK&trade;</a> framework, and supported by The <a href="https://www.mitre.org" target="_blank">MITRE Corporation</a>
and the <a href="https://www.nsa.gov" target="_blank">National Security Agency</a> (NSA).
</p>
<p>
<a href="https://attack.mitre.org" target="_blank">ATT&amp;CK&trade;</a> stands for Adversarial Tactics, Techniques
and Common Knowledge. It is a model and framework that describes the actions an adversary may take while attacking
an enterprise network. ATT&amp;CK&trade; specifically focuses on post-exploitation of Windows host systems. Think of
it as a roadmap that lays out what an attacker COULD be doing on your network.
</p>
<p>
The <a href="https://car.mitre.org" target="_blank">CAR</a> is an effort to document and share analytic ideas and lessons
learned. Each CAR analytic is framed by the ATT&amp;CK&trade; behavior(s) it is trying to identify.
</p>
<p>
Unfetter is a project designed to help network defenders, cyber security professionals, and decision makers identify and
analyze defensive gaps in a more scalable and repeatable way. By featuring the groups
<a href="https://mitre.github.io/unfetter/#footnote1_src" target="_blank" name="footnote1_src"><sup>[1]</sup></a>
and techniques<a href="https://mitre.github.io/unfetter/#footnote1_src" target="_blank" name="footnote2_src"><sup>[2]</sup></a>
of the ATT&amp;CK&trade; model combined with the analytics, data model, and sensors of CAR, Unfetter offers an opportunity for
the community to come together and move beyond indicators toward a behavioral-based methodology.
</p>
<p>
The first release is Unfetter Analytic, a reference implementation that provides a framework for collecting events from a
client machine (Windows 7), supports building and testing analytics in the CAR model, and displays the alerts as they
reference the ATT&amp;CK&trade; model. Unfetter Analytic is not designed to be a production intrusion detection system,
but it is an educational capability for analytic developers to try, explore, and learn the concepts discussed at
<a href="http://mitre.github.io/unfetter" target="_blank">http://mitre.github.io/unfetter</a>.
</p>
<h4>Architecture</h4>
This reference implementation provides a framework for collecting events from a client machine (Windows 7), and performing <a href="https://car.mitre.org">Cyber Analytics Repository</a> (CAR) analytics to detect potential adversary activity. 
<img class="responsive-img" src="images/unfetter-architecture-diagram.png">

On the left-hand side of the diagram, you see the Windows System, or the "victim machine." <a href="https://www.nxlog.co">NXLog</a> ships standard Windows events to the Unfetter Analytic system. The Windows system, once built, runs Microsoft Sysmon.

On the right, the Unfetter Analytic server is running an <a href="https://www.elastic.co/">Elasticsearch, Logstash, Kibana</a> software stack and   
<a href="http://spark.apache.org">Apache Spark</a> as the main analytic system. Event logs from the victim system and generated alerts are stored in Elasticsearch and are viewable through Kibana or through the Elasticsearch head plugin.
<h4>Designed For Experimentation</h4>
<p>
This system is not designed to be used in production as it stands. Architectural decisions were made to make it easier to collect and analyze data, is opposed to the more robust reliability, security, and scalability requirements needed in a production system. The system was designed to make personalized data source additions easier for experimentation purposes, and the virtual machine is fully customizable. A production environment would utilize components that are the same or similar to what is contained in the Unfetter Analytic virtual machine: a backend data store (such as Elasticsearch), log parsing (such as Logstash), and a user interface (such as Kibana). Depending on organization-specific requirements, features that are not in the Unfetter Analytic VM (e.g., a durable message queue, such as Apache Kafka) may need to be added.
</p>
