<h2>USER GUIDE</h2>
<p>We are so glad you decided to check out Unfetter Discover.  This page will show you the screens and give a walk through of 
how to use the Unfetter Discover different screens.  Check it out and let us know what you think!</p>
<p>When you start Unfetter Discover web application and go to </p>

<img src="images/main-screen.png" class="img-fluid mx-auto" >
<p>
The Unfetter Discover homepage contains links to a few of its major components:
</p>

<li> Assessments - Contains surveys to about indicators or analytics, courses of actions or mitigations, and sensors in your network</li>
<li>Intrusion Set Dashboard - Contains a graphical representation of the different intrusion sets and what attack patterns they use, and the corresponding Critical Security Controls that address such attacks</li>
<li>Settings - Provides ways to manage all the data that Unfetter uses.</li>

<h4>Assess my Network</h4>
<p>Out of the box, Unfetter uses the MITRE ATT&amp;CK&trade; framework to describe the technical tactics and techniques of Intrusion Sets and Threat Actors.  Unfetter takes that ATT&amp;CK&trade; Framework and maps Mitigations or Controls, Sensors, and Analytics to those specific ATT&amp;CK&trade; techniques.  The Unfetter Assessment Dashboard helps users understand the gaps and risks in their own environment, by assessing their Sensors, Security Controls, or Analytics.  They will, in turn, identify which ATT&amp;CK&trade; techniques they are most at risk.</p>
<p>Clicking the Assessments link at the top of the page brings you to the Assessments display page</p>
<img src="images/assessments.png" class="img-fluid mx-auto" >
<p>When you first start Unfetter Discover, three assessments have already been created.  First, look at the Assessment Summary page by clicking the icon for the "Mitigations Assessment Demonstration".</p>
<img src="images/assessment-summary.png" class="img-fluid mx-auto"  >
<p>This summary provides you an overview of provides an overview of your assessment.  The "Assessment Report Overview" gives you a high-level risk score, and identifies the items you identified as the highest risk.</p>
<p>The charts themselves show you related ATT&amp;CK&trade; data or your Mitigations, Sensors, or Indicators and how you scored them.</p>
<p>Returning to the Assessments List page above (https://localhost/#/assessments), let's see how you create a new assessment.  The Assessment Create buttons let you create an assessment based on Mitigations, Indicators/Analytics or Sensors.  The Mitigations, Indicators, and Sensors have to already be loaded into Unfetter, we will talk about that later.</p>
<p>Clicking the Assess Mitigations button brings you to the Assessment Creation page.</p>
<img src="images/assessment-create.png" class="img-fluid mx-auto"  >
<p>For Mitigations, there are four questions for each Mitigation.  Answer the questions and clicking next takes you to the next group of questions.  The number of Mitigations, Sensors or Indicators is depended on what is loaded into Unfetter.  At the end of the assessment, you will see a screen to enter a title and description.  Clicking save will save the whole assessment.</p>
<img src="images/assessment-create-finish.png" class="img-fluid mx-auto"  >
<p>Returning to the Assessments List page above, click the text "Mitigations Assessment Demonstration" to see the Assessment Dashboard.</p>

<img src="images/assessment-dashboard-overview.png" class="img-fluid mx-auto" >
<p>This screen shows you the scored risk to MITRE ATT&amp;CK&trade; tactics based on your answers to the summary.  The left-hand column, called the "Kill Chain Phase", shows the ratio of ATTACK Patterns scored for all of the Kill Chain.  For instance, in Collection, there were only Mitigations to cover 3 of the 9 total ATTACK Patterns.</p>
<p>The Risk Level Column is a high-level rollup Risk for all the scored attack patterns in that Kill Chain.</p>
<p>The Risk Breakdown shows the Risk PER question type.</p>
<p>The pie graphs on the left-hand side provide a graphical representation of the Risk values.</p>
<p>Let's click the "collection" link in the leftmost column, which will expand the Collection Kill Chain into all the specific MITRE ATT&amp;CK&trade; Patterns.</p>
