<H2>WELCOME</H2>
<p>Unfetter Discover is focused on helping the user analyze security gaps in their environments, explore the threats, and experiment with the next steps. 
    Unfetter Discover maps mitigations and security controls to MITRE's <a href="https://attack.mitre.org" target="_blank">ATT&amp;CK&trade; </a> framework
    and demonstrates how to explore risks based on attacker behaviors. By building relationships off a common 
    framework, like ATT&amp;CK&trade;, groups can create complex Cyber Threat Intelligence (CTI) data and share it in meaningful ways. Unfetter Discover provides a 
    set of dashboards, each helping visualize the relationships between the CTI data.
</p>
<p>
The Unfetter Discover application is made up of several github projects that are combined to form a seamless web application.  
The application is run from a series of Docker Containers.  Don't worry, its pretty simple. Check out the <a href="https://github.com/unfetter-discover/unfetter" target="_blank">
README</a> on our main GitHub repo.
</p>