<p>Unfetter Discover is focused on helping the user explore additional gaps across their security posture and experiment with the next steps. 
    Unfetter Discover focuses on mapping mitigations and security controls to MITRE's <a href="https://attack.mitre.org" target="_blank">ATT&amp;CK&#8482;</a> 
    and demonstrating how to explore, learn, and communicate between tactical, operation, and strategic levels of operation. By building relationships off a common 
    framework, like ATT&CK, groups can create complex Cyber Threat Intelligence (CTI) data and share it in meaningful ways. Unfetter Discover provides a set of dashboards, 
    each helping visualize the relationships between the CTI data.
</p><p>The Unfetter Discover application is made up of several github projects that are combined to form a seamless web application.  
    The general user can install the Discover application by using the pre-built docker containers found on
     <a href="https://hub.docker.com/search/?isAutomated=0&isOfficial=0&page=1&pullCount=0&q=unfetter&starCount=0" target="_blank">docker hub</a>. 
     The <a href="discover_user_install.html" target="_blank">installation instructions</a> for installing the application using the docker containers can be found under the Unfetter Discover dropdown.
</p><p> 
For more advanced users (developers), they can clone all the projects out of github and then re-build each of the docker containers from the source.  These instructions can be found under the Unfetter Discover dropdown as well.
</p>
