<div class="container-fluid px-0 ">
    <!--Collage Block-->
    <div class="row align-items-center">
        <div class="col-12 align-self-center container-fluid">
            <img class="collage float-left py-0" src="./images/about/UF_screen_collage.jpg">

            <div class="card collage-card py-0 my-0">
                <img class="card-image tour-img-top " src=" ./images/general/icon-Threat_Dashboard.png">
                <h5>Threat Reporting</h5>
                <div class="card-text">
                    <p>
                        This is the text about threat reporting
                    </p>
                    <a href="threat.html">GO -></a>
                </div>
            </div>


        </div>

    </div>
</div>