<div class="container-fluid my-sm-0 px-0 py-0 pb-sm-5 pb-3">
    <!--Description-->
    <div class="row justify-content-center py-sm-5 py-5 px-5">
        <div class="col-lg-12 text-center">
            <h2>Unfetter provides a shared framwork</h2>
        </div>
    </div>
    <div class="row text-center my-3">
        <div class="col mx-auto">
            <ul class="nav nav-pills center-pills">
                <li class="nav-item"><a class="nav-link active" data-toggle="pill" href="#home">THREAT REPORTERS</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#menu1">ANALYTIC DEVELOPERS</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#menu2">NETWORK DEFENDERS</a></li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div id="home" class="tab-pane fade show active">
            <div class="row">
                <div class="col-lg-1 col-sm-0 order-lg-3 mt-lg-5"></div>
                <div class="col-lg-5 col-sm-12 order-lg-2 mt-lg-5">
                    <h2 class="text-center text-lg-left">Threat Reporters</h2>
                    <p class="text-center text-lg-left">
                        Evaluate your infrastructure’s mitigations, analytics, and capabilities through a
                        simple survey. Visualize your gaps through the lens of MITRE’s ATT&amp;CK&trade; framework.
                        As Network Defenders improve the security of the infrastructure, you can update the
                        Assessment, maintaining an update to your situational awareness.
                    </p>
                </div>
                <div class="col-lg-6 col-sm-12 order-lg-1 my-lg-3 mb-3 ">
                    <img class="d-block h-100 float-md-right float-sm-center" src="./images/about/connections_threat_reporters.png"
                        alt="Survey">
                </div>
            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
            <div class="row">
                <div class="col-lg-1 col-sm-0 order-lg-3 mt-lg-5"></div>
                <div class="col-lg-5 col-sm-12 order-lg-2 mt-lg-5">
                    <h2 class="text-center text-lg-left">Analyic Developers</h2>
                    <p class="text-center text-lg-left ">
                        Explore a snapshot of your survey answers to quickly measure your risk. This
                        overview allows leadership to compare options and focus resources effectively.
                    </p>
                </div>
                <div class="col-lg-6 order-lg-1 my-lg-3 mb-3">
                    <img class="d-block h-100 float-right" src="./images/about/connections_analytic_devs.png" alt="Analytic Developers">
                </div>
            </div>
        </div>
        <div id="menu2" class="tab-pane fade">
            <div class="row">
                <div class="col-lg-1 col-sm-0 order-lg-3 mt-lg-5"></div>
                <div class="col-lg-5 col-sm-12 order-lg-2 mt-lg-5">
                    <h2 class="text-center text-lg-left">Network Defenders</h2>
                    <p class="text-center text-lg-left">
                        Examine your comprehensive network posture to evaluate your vulnerabilities
                        compared to overall attacker tactics and understand what is working and what needs
                        improvement.
                    </p>
                </div>
                <div class="col-lg-6 order-lg-1 my-lg-3 mb-3">
                    <img class="d-block h-100 float-right" src="./images/about/connections_net_defenders.png" alt="Network Defenders">
                </div>
            </div>
        </div>
        <div id="menu3" class="tab-pane fade">
            <div class="row">
                <div class="col-lg-4 order-lg-2 mt-lg-5">
                    <h2 class="text-center text-lg-left">Report Detail</h2>
                    <p class="text-center text-lg-left">
                        Expand your findings with concrete actions and recommendations. Review details,
                        analyze results from different angles, and determine future courses of action.
                    </p>
                </div>
                <div class="col-lg-8 order-lg-1 my-lg-3 mb-3">
                    <img class="d-block w-100" src="./images/slides/UF_Monitor_report_detail.png" alt="Report Detail">
                </div>
            </div>
        </div>
    </div>
    <div class="row container-fluid">
        <div class="col-12">
            <img class="w-100" src="./images/about/UF_about_background.jpg">
        </div>
    </div>




</div>