<div class="px-5 py-5 mb-5">
    <!--Collage Block-->
    <div class="row align-items-center">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 align-self-center container-fluid">

            <h2 class="text-center"><b>The Unfetter Story:</b> Why it began and how it will continue.</h2>
            <div class="card-text">
                <p>
                    {{ page.history }}

                </p>
            </div>



        </div>
        <div class="col-lg-2"></div>
    </div>
</div>