<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Unfetter Project</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!--Roboto Font-->
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,600,700,900" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="./unfetter.css">

    <style>

    </style>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-blue fixed-top">
      <a class="navbar-brand" href="./index.html"><img src="images/uf_icon.svg" alt="Unfetter" width="50px" height="50px"></a>

      <ul class="navbar-nav d-none d-sm-block ml-auto px-5">
        <li class="nav-item active">
          <a class="nav-link " href="./index.html">UNFETTER <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#unfetterNavbar">
        <span> </span>
        <span> </span>
        <span> </span>
      </button>

      <div class="collapse navbar-collapse" id="unfetterNavbar">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col text-center">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="analytics-overview.html">Analytic Overview</a>
                </li>
                <li>
                  <div class="sub-nav">
                    <a class="nav-link" href="https://github.com/unfetter-analytic/unfetter">GitHub</a>
                    <a class="nav-link" href="analytic-overview.html">Architecture</a>
                    <a class="nav-link" href="analytic-overview.html">Setup</a>
                    <a class="nav-link" href="analytic-overview.html">Generate Events</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="discover-overview.html">Discover Overview </a>
                </li>
                <li>
                  <div class="sub-nav">
                    <a class="nav-link" href="discover-overview.html">User Guide </a>
                    <a class="nav-link" href="discover-overview">Installation</a>
                    <a class="nav-link" href="https://www.github.com/unfetter-discover/unfetter/wiki">Developer Instructions</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  href="https://mitre.github.io/unfetter">Unfetter at MITRE</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="stix.html">Using STIX 2.0</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>



    {{content}}

  
      <div class="container-fluid bg-black py-4 py-sm-5"><!--FINAL FOOTER-->
		<div class="container">
		  <div class="row">
			<div class="col-md-4 col-sm-6 footer">
			  <img src="images/un_logo.svg" width="150px" height="40px">
			  <p><small>Unfetter is an Information Assurance
				mission at the National Security
				Agency (nsa.gov)</small></p>
			</div>
			<div class="col-md-4 col-sm-6 footer">
			  <img src="images/oasis_logo.svg" width="150px" height="40px">
			  <p><small>OASIS is a nonprofit consortium that drives the development,
				convergence and adoption of open standards for the global
				information society. Cyber Threat Intelligence (CTI)
				subcommittee oversees the STIX&trade; and TAXII&trade;</small></p>
			</div>
			<div class="col-md-4">
			  <div class="row">
				<div class="col-4 text-light">
					<p>
						<a href="https://github.com/unfetter-discover/unfetter/issues" target=_blank>Feedback</a>
					</p>
				</div>
				<div class="col-6 text-light">
					<p>
						
						<a href="https://github.com/iadgov/unfetter/blob/master/LICENSE.md" class="text-dkgrey" target=_blank>License</a>
					</p>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  <!-- Bootstrap core JavaScript
	  ================================================== -->
	  <!-- Placed at the end of the document so the pages load faster -->
	  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  
	  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	  <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
	  <!-- Holder.js for placeholder images -->
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
	</body>
  </html>
  