<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Unfetter Project</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!--Roboto Font-->
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,600,700,900" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="./unfetter.css">
  </head>
  <body>
    {% include navbar.html %}
    <title>Unfetter Project</title>
    {{content}}
      <div class="container-fluid bg-black py-4 py-sm-5"><!--FINAL FOOTER-->
		<div class="container">
		  <div class="row">
			<div class="col-md-4 col-sm-6 footer">
			  <img src="images/un_logo.svg" width="150px" height="40px">
			  <p><small>Unfetter is an Information Assurance
				mission at the National Security
				Agency (nsa.gov)</small></p>
			</div>
			<div class="col-md-4 col-sm-6 footer">
			  <img src="images/oasis_logo.svg" width="150px" height="40px">
			  <p><small>OASIS is a nonprofit consortium that drives the development,
				convergence and adoption of open standards for the global
				information society. Cyber Threat Intelligence (CTI)
				subcommittee oversees the STIX&trade; and TAXII&trade;</small></p>
			</div>
      {% include footer.html %}
	</body>
  </html>
  